







    


    <footer class="bottom-footer">
        
        <p>Made by ❤ </p>
        <p>All Rights Reserved. Hrishi Sharma ©  <%= new Date().getFullYear(); %> </p>
    </footer>









</body>
</html>